body {
  font-family: Arial, sans-serif;
  background-color: #ffffff; /* Fundo inicial branco */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  transition: background-color 0.5s ease; /* Transição suave de cor */
}

button {
  background-color: #222222;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  opacity: 0.9;
}
