body {
  font-family: Arial, sans-serif;
  background-color: #ffffff; /* Fundo inicial branco */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  transition: background-color 0.3s ease;
}

/* Classe que será adicionada/removida pelo JavaScript */
body.fundo-azul {
  background-color: #007bff;
}

button {
  background-color: #222222;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}
